<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--创建数据源对象-->
    <bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/ssm"/>
        <property name="username" value="root"/>
        <property name="password" value="Pan818799"/>
        <property name="maxActive" value="20"/>
    </bean>
    <!--创建SqlSessionFactory对象-->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <!--记住修改主配置文件的地址-->
        <property name="configLocation" value="classpath:mybatis.xml"/>
    </bean>
    <!--创建Dao接口的实例对象-->
    <bean id="object" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="factory"/>
        <!--记住修改Dao接口所在包的地址-->
        <property name="basePackage" value="com.intercept.Dao"/>
    </bean>
    <bean id="service" class="com.intercept.service.service">
        <property name="loginDao" ref="loginDao"/>
    </bean>
</beans>